.AddMovie {
    max-width: 100%;
    margin: 70px auto;
    padding: 15px;
  }
  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h6 {
    margin-right: 120px;
  }

  .row {
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
  .input-group{
    padding: 10px 5px 10px 10px;
  }